<%= form_with model: [ @post, @post.comments.build ], remote: true do |form| %>
  <%= form.hidden_field :parent_id, value: params[:parent_id] %>
  <p>
    <%= form.text_area :body, :rows => 5, class:'form-control col-md-4' %>
  </p>
  <p>
    <%= form.submit class:'btn btn-info btn-sm' %>
  </p>
<% end %>